body {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
  margin: 0;
  padding: 0;
}

/** HEADER **/
#header-nav {
  background-color:#76766b;
  border-radius: 0;
  border: 0;
}

.navbar-brand h1{
  color: black;
  font-family: 'Lora', serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-align: left;
}

#nav-list {
  margin-top: 10px;
  background-color: white;
}
#nav-list a {
  color: black;
  text-align: center;
}
.navbar-brand {
  padding-top: 10px;
  height: 80px;
}
.navbar-brand h1 { 
  padding-top: 10px;
}
#collapsable-nav a { 
  font-size: 150%;
}
#xs-deliver {
  margin-top: 5px;
}
#xs-deliver h1{
  font-weight: bold;
  font-family: 'Lora', serif;
}
h2{
  font-weight: bold;
  font-family: 'Lora', serif;
  padding: 15px;
}
.container .jumbotron {
  margin-top: 30px;
  background-color: #76766b;
  padding: 0;
  border: 2px solid;
  color: black;
}
.container{
  margin: 0;
  width: auto;
}
.content{
  margin: 10px;
  padding: 10px;
}
